body{
    background-color:white;
    background-size: cover; 
}
.title{
    position:absolute;
    text-indent: 75px;
    color:blue;
}
.logo{
    position: absolute;
    margin-top: 4px;
    margin-left: 30px;
    color:yellowgreen;
    font-size: 50px;
    
}
.search{
    text-align: center;
    position: absolute;
    color: blue;
    
    padding: 20px;
    margin-left: 650px;
}
.search input{
    width: 120px;
    border-color: black;
    border-radius: 5px;
}
.nav{
  /*  background-color:rgb(43, 174, 226);*/
    font-size: large;
    padding: 20px;
    text-align: right;
    word-spacing: 20px;  
    text-indent: 5px
}

.nav a{
    color: blue;
}
.nav a hover{
    color: tomato;
}
.calc{
    background-color:aliceblue;
    padding: 15px;
    color:darkblue;
    width: 400px;
    line-height: 35px;
    margin-left: 550px;
    margin-top: 150px;   
    border-style: solid;
    border-color: green;
    border-radius: 20px;
    border-width: 10px;
}

.heading{
    color: purple;
}

.calc input{
    margin-left: 50px;
    border-radius: 5px;
    height: 20px;
}
.calc select{
    margin-left: 10px;
}
.A label{
    margin-left: 65px;
}
.B label{
    margin-left: 65px ;
}
.operator label{
    margin-left: 20px;
}

.operator select{
    width: 163px;
    margin-left: 50px;
    height: 25px;
    border-radius: 5px;
}
.result{
    margin-left: 35px;
}
.result input{
    margin-left: 50px;
}
.submit button{
    margin-left: 100px;
    margin-top: 30px;
    background-color:rgb(43, 174, 226);
    font-size: medium;
    border-radius: 5px;
}

